# The password must be at least 8 characters long and contain characters from three of the following four sets: Uppercase letters, Lowercase letters, Base 10 digits, and Symbols.
# MSSQL CONFIG
MSSQL_PASSWORD=examplePassword1234

# EF CORE CONFIG
# Password should be the same used in `MSSQL_PASSWORD`.
ConnectionStrings__DefaultConnection="Server=localhost,1433; Database=UserManagementDb; MultipleActiveResultSets=True; User ID=sa;Password='examplePassword1234'; Encrypt=False;"

# JWT CONFIG
JwtConfig__Issuer=http://localhost:8080
JwtConfig__Audience=http://localhost:8080
JwtConfig__Secret=a-string-secret-at-least-256-bits-long